body{
    margin: auto;
    font-family: 'Lexend Exa';
}
header {
    background-color: #a5c7e9;
    display: flex;
    justify-content: space-between; 
    padding: 15px;
}
footer {
    background-color: #a5c7e9;
    justify-content: space-between; 
    padding: 15px;
}
main {
    background-image: url("sfondo.jpg");
    background-size: cover;
    background-position: center;
}


.immagine{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* oppure posso scrivere repeat(3, 1fr) */
    gap:15px;
    padding: 10px;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

.immagine img{
    width: 250px;
}
.testo-grosso{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
.paragraph{
    text-align: center;
    font-size: large;
}
.b {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
p {
    padding: 1px;
    margin: 1px
} 

